InspectorElement.unity-inspector-element.unity-inspector-element--uie-custom.unity-inspector-element--uie {
  padding: 0;
  padding-bottom: 0;
}

/*# sourceMappingURL=LocalizedString_Parent.uss.map */
