@import "Theme";
$defaultTheme: $table;
$accent: $defaultTheme;
@import "Utility";

#LocalizedString {
    #Header {
        margin-left: -15px;
        margin-top: -3px;
        margin-bottom: 2px;
        padding-left: 12px;
        
        flex-direction: row;
        align-items: center;
        height: 52px;
        
        border-bottom-width: 2px;
        border-top-width: 2px;
        border-color: $accent;
        
        & > .logo {
            height: 32px;
            width: 32px;
            -unity-background-scale-mode: scale-to-fit;
            background-image: resource("language_icon/language_icon");
            -unity-background-image-tint-color: $accent;
            margin-top: 2px;
            margin-right: 8px;
        }

        & > .text {
            color: white;
            font-size: 20px;
        }
    }
    
    #ActiveSettingsWarning {
        #WarningContainer {
            margin-top: 8px;
            @include margin-x(8px);
            flex-direction: row;
            height: 24px;
            align-items: center;
            
            .icon {
                height: 20px;
                width: 20px;
                background-image: resource("warning_icon");
                -unity-background-scale-mode: scale-to-fit;
                -unity-background-image-tint-color: #f8d00b;
            }
            
            .text {
                margin-left: 8px;
                font-size: 14px;
            }
        }
        
        #OpenSettingsButton {
            margin: 8px;
            height: 32px;
        }
    }
    
    #SettingsContainer {
        #LocalizationSettingsContainer {
            margin-top: 8px;
            #KeyContainer {
                flex-direction: row;
                margin-bottom: 4px;
                #LocalizationKey {
                    & > Label {
                        align-self: center;
                        min-width: auto;
                        margin-right: 16px;
                    }
                    flex-grow: 1;
                }
                #SelectKeyButton {
                    border-color: darken($accent, 5%);
                }
            }
            
            #PreviewContainer {
                margin-top: 4px;
                Button {
                    border-width: 2px;
                    border-color: $darker;
                    &.active {
                        border-color: darken($accent, 5%);
                    }
                }
                
                #PreviewSettings {
                    #PreviewLocalesContainer {
                        margin-top: 4px;
                    }
                }
            }
        }
    }
}