.hidden {
    display: none;
}

.header {
    font-size: 24px;
    margin-left: 8px;
    margin-top: 6px;
}

.section-title {
    font-size: 16px;
    margin-left: 8px;
    margin-top: 6px;
}

#ActiveSettings {
    margin: 2px 8px 8px;
}

Foldout.section-foldout {
    &#LocaleFoldout {
        --theme-color-rgb: rgb(255, 127, 80);
        --theme-color-rgba: rgba(255, 127, 80, 0.6);
    }
    
    &#OtherFoldout {
        --theme-color-rgb: rgb(162, 255, 80);
        --theme-color-rgba: rgba(162, 255, 80, 0.6);
    }
    
    &.foldout-open {
        #unity-checkmark.unity-toggle__checkmark {
            &:hover, &:active, &:focus, &:enabled, &:active:hover, &:focus:hover, &:enabled:hover {
                background-image: resource("TriangleDown");
            }    
        }
        &>Toggle.unity-foldout__toggle {
            border-bottom-width: 0;
        }
        border-bottom-color: var(--theme-color-rgba);
        border-bottom-width: 2px;
    }
    #unity-checkmark.unity-toggle__checkmark {
        align-self: center;
        opacity: 0;
        &:hover, &:active, &:focus, &:enabled, &:active:hover, &:focus:hover, &:enabled:hover {
            -unity-background-image-tint-color: var(--theme-color-rgb);
            -unity-background-scale-mode: scale-to-fit;
            background-image: resource("TriangleRight");
        }

        &.opacity-5 {
            opacity: 5 !important;
            &:hover, &:active, &:focus, &:enabled, &:active:hover, &:focus:hover, &:enabled:hover {
                opacity: 5 !important;
            }
        }
    }
    &>Toggle.unity-foldout__toggle {
        border-top-color: var(--theme-color-rgb);
        border-top-width: 2px;
        border-bottom-color: var(--theme-color-rgba);
        border-bottom-width: 2px;
        
        margin-left: 0;
        margin-right: 0;
        padding-left: 2px;
        padding-right: 2px;
    }
    Label.unity-toggle__text {
        font-size: 16px;
        margin-left: 4px;
    }
}