$defaultTheme: rgb(35, 134, 205);

.hidden {
    display: none;
}

Label.placeholderLabel {
    color: #5E5E5E;
    font-size: 12px;
    margin-top: 1px;
    cursor: text;
}

Button {
    border-radius: 0;
    height: 24px;
    &.large {
        height: 32px;
    }
}

TextField.unity-base-field.unity-base-text-field.unity-text-field {
    &.textFieldWithPlaceholder {
        min-height: 20px;
    }
    
    & > TextInput {
        border-radius: 0;

        &:enabled {
            border-color: #212121;
        }

        &:hover {
            border-color: #656565;
        }

        &:focus {
            border-color: $defaultTheme;
        }
    }

    &.breakLabel {
        flex-wrap: wrap;
        & > Label {
            flex-grow: 1;
            padding-right: 20000px;
            margin-bottom: 2px;
        }
    }

    & > Label {
        min-width: auto;
        padding-right: 8px;
    }
}

@mixin padding-x($padding) {
    padding-left: $padding;
    padding-right: $padding;
}
@mixin padding-y($padding) {
    padding-top: $padding;
    padding-bottom: $padding;
}
@mixin margin-x($margin) {
    margin-left: $margin;
    margin-right: $margin;
}
@mixin margin-y($margin) {
    margin-top: $margin;
    margin-bottom: $margin;
}

